{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

{% include 'components/menu.html' %}

<div class="container h-100 my-5">
  {% blocktrans %}
    <p>
      Enviamos por e-mail instruções para redefinir sua senha, se existir uma conta com o e-mail que você digitou.
      Você deve recebê-los em breve.
    </p>
    <p>
        Se você não receber um e-mail, certifique-se de inserir o endereço com o qual se registrou,
        e verifique sua pasta de spam.
    </p>
    {% endblocktrans %}
</div>

{% include 'components/footer.html' %}

{% endblock %}