{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
{% include 'components/menu.html' %}

    <div class="container d-flex justify-content-center h-100">
        <div class="card card-black my-3">
            <div class="card-header card-header-black text-center">
                <h3>{% trans "Mudar senha" %}</h3>
            </div>

            <div class="card-body card-body-black">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-success">{% trans "Submit" %}</button>
                </form>
            </div>
        </div>
    </div>

{% include 'components/footer.html' %}
{% endblock %}