{% extends 'base.html' %} {% load static %} {% block content %} {% include 'base/menu.html' %}

<div class="maincriapro">
    <form action="{% url 'cria_produtos' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div>
            <label class="nomeantes" for="nomeproduto">Nome do produto: </label>
            <input class="campo" type="text" name="nomeproduto" placeholder="Ex. Chocolate" required>
        </div>
        <div>
            <label class="nomeantes" for="descricao">Descrição: </label>
            <textarea class="campo" name="descricao" id="" cols="30" rows="10" required></textarea>
        </div>
        <div>
            <label class="nomeantes" for="preco">Preço: </label>
            <input class="campo" s type="number" name="preco" placeholder="Ex. R$ 15.00 " required>
        </div>
        <div>
            <label class="nomeantes" for="quantidade">Quantidade: </label>
            <input class="campo" type="number" name="quantidade" placeholder="Ex. 20" required>
        </div>
        <div>
            <label class="nomeantes" for="datadefabri">Data de Fabricação</label>
            <input class="campo" type="date" name="datadefabri" required>
        </div>
        <div>
            <label for="categoria" class="nomeantes">Categoria: </label>
            <select class="campo" name="categoria" required>
                {% for categoria in categorias %}
                    <option value="{{categoria.id}}">{{categoria.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label class="nomeantes" for="tipo">Tipo:</label>
            <select class="campo" name="tipo" required ">
                {% for tipo in tipos %}
                    <option value="{{tipo.id}} ">{{tipo.nome}}</option>
                {% endfor %}
            </select>
        </div>
    
        <div>
            <button type="submit ">Criar novo produto</button>
        </div>
    </form>
</div>

<script>

var ws_scheme = window.location.protocol == "https: " ? "wss " : "ws ";
var chat_socket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + window.location.pathname);

$('#chatform').on('submit', function(event) {
    var message = {
        handle: $('#handle').val(),
        message: $('#message').val(),
    }
    chat_socket.send(JSON.stringify(message));
    return false;
});

</script>

{% include 'base/footer.html' %}

{% endblock %}