{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'base/menu.html' %}

{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/users/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock script %}

<div id="dash">
    <h1>Olá {{ user.username }}</h1>
</div>

<div class="maindash">
    {% for produto in produtos %}
    <div>
        <h3>Nome do produto: {{produto.nome}}</h3>
        <p>Descrição: {{produto.descricao}}</p>
        <p>Preço: R${{produto.preco}},00</p>
        <p>Quantidade: {{produto.quantidade}}</p>
        <p>Data de fabricação: {{produto.datadefabricacao}}</p>
        <p>Criado por: {{produto.criador}}</p>
        <p>Categoria: {{produto.categoria}}</p>
        <p>Tipo de produto: {{produto.tipo}}</p>
    </div><br><br><br> {% endfor %}
</div>

{% include 'base/footer.html' %}

{% endblock %}