{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Preloader -->

{% include 'base/menu.html' %}

    <h2>Login</h2>

    <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
    <div>
        <label for="email"><b>Email</b></label>
        <input type="text" id="email" class="form-control" name="email" placeholder="Entre com o email cadastrado">
    </div>
        <label for="senha"><b>Senha</b></label>
        <input id="senha" type="password" class="form-control" name="password" placeholder="Digite aqui sua senha">
    </div>
    <div>
        <button class="btn btn-success" type="submit">Acessar sua conta</button>
        <button type="button" class="btn btn-primary" onclick="exibirCriarConta()">Ainda não tem conta? Clique aqui</button>
    </div>

<script>
function exibirCriarConta()
{
     location.href = "{% url 'cadastro' %}";
} 
</script>

{% include 'base/footer.html' %}
{% endblock %}