{% extends 'base.html' %} {% load static %} {% block content %} {% include 'base/menu.html' %}

<div>
    <form action="{% url 'muda_estoque' %}" method="POST" enctype="application/json" id="formmu"> {% csrf_token %}

        <div>
            <label for="produto" class="nomeantes">Selecione o produto a ser auterado</label>
            <select class="campo" name="produto" required id="proid">
                {% for produto in produtos %}
                    <option value="{{produto.id}}">{{produto.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="qtd" class="nomeantes">Quantidade a adicionar: </label>
            <input type="number" class="campo" name="qtd" required id="qtd">
        </div>

        <div>
            <button type="submit">Alterar quantidade do produto:</button>
        </div>
    </form>
</div>

<script>
    $(function() {
        var ws_scheme = window.location.protocol == "https: " ? "wss " : "ws ";
        var chat_socket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + window.location.pathname);

        $('#formmu').on('submit', function(event) {
            var message = {
                produtoid: $('#proid').val(),
                qtd: $('#qtd').val(),
            }
            chat_socket.send(JSON.stringify(message));
            return false;
        });
    });
</script>

{% include 'base/footer.html' %} {% endblock %}